<mat-toolbar color="primary" fxLayout="column">
  <mat-toolbar-row
    fxLayout="row"
    fxLayoutAlign="space-between center"
    style="margin: .5em 0 .5em 0;"
  >
<!--    <a href="https://www.bsc.es" class="h-100">-->
<!--      <img-->
<!--        src="assets/images/bsc/BSC-white.svg"-->
<!--        alt="Barcelona Supercomputing Center"-->
<!--        class="h-100"-->
<!--      />-->
<!--    </a>-->
    <a href="https://www.plantl.gob.es/" class="h-100">
      <img src="assets/images/plantl/plantl.png" alt="Logo del PlanTL" class="h-100 bg-light rounded"
           style="max-height: 6em">
    </a>

    <div>
      <button mat-button routerLink="/">Text Mining Demos</button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          *ngFor="let demo of demos"
          (click)="openDemo(demo.routerLink)"
        >
          {{ demo.name }}
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
