<header>
  <mat-toolbar color="primary" style="height: 10vh">
    <mat-toolbar-row class="h-100">
      <a href="https://www.bsc.es" target="_blank" class="custom-h-80">
        <img src="assets/images/bsc/BSC-white.svg" alt="BSC-white" class="h-100">
      </a>
      <span style="flex: auto"></span>
      <a href="https://www.plantl.gob.es/" target="_blank" class="custom-h-80" fxHide.xs>
        <img src="assets/images/temu/plantl.png" alt="plantl" class="h-100 bg-white rounded">
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</header>