<article>
  <div class="jumbotron negative-margin-bottom" style="text-align: center;">
    <h1>{{ project?.name }}</h1>
    <p>{{ project?.description }}</p>
  </div>

  <span fxLayout="row" fxLayoutAlign="center center">
    <span fxLayout="column" fxLayoutGap="2em" fxFlex="100" fxFlex.gt-md="80">
      <mat-card>
        <mat-card-content fxLayout="column">
          <!-- Medical report textarea -->
          <mat-form-field fxFill>
            <textarea
              matInput
              [(ngModel)]="inputText"
              rows="15"
              placeholder="Porfavor introduzca el caso clinico"
              required
            >
            </textarea>
            <button class="btn btn-primary" (click)="submitText()">
              Submit
            </button>
            <!-- Error handling -->
            <!-- <mat-error *ngIf="f['medicalReport'].errors">
            <span *ngIf="f['medicalReport'].errors.required">
              Medical Report is <strong>required</strong>.
            </span>
            <span *ngIf="f['medicalReport'].errors.maxlength">
              Medical Report exeeds the maximum of
              <strong>{{ MAX_CHARACTERS }} characters</strong>.
            </span>
          </mat-error> -->
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <!-- <ngx-annotate-text
        [(annotations)]="annotations"
        [removable]="true"
        [text]="inputText"
        annotationClass="my-annotation"
        #annotateText
      >
      </ngx-annotate-text> -->
    </span>
  </span>
  <div class="row mt-5">
    <div class="col-6"></div>
  </div>

  <div class="row mt-3">
    <div class="col-12 mb-5">
      <button
        type="button"
        class="btn btn-primary mr-2"
        (click)="addAnnotation('Date', '#0069d9')"
      >
        Date
      </button>
      <button
        type="button"
        class="btn btn-secondary mr-2"
        (click)="addAnnotation('Time', '#5a6268')"
      >
        Time
      </button>
      <button
        type="button"
        class="btn btn-success mr-2"
        (click)="addAnnotation('Country', '#28a745')"
      >
        Country
      </button>
      <button
        type="button"
        class="btn btn-danger mr-2"
        (click)="addAnnotation('City', '#dc3545')"
      >
        City
      </button>
    </div>

    <div class="col-6">
      <h2 class="mb-3 display-5">Annotations</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let a of annotations">
          start: {{ a.startIndex }}, end: {{ a.endIndex }}, text: "{{
            a.text
          }}", label: {{ a.label }}
        </li>
      </ul>
    </div>
  </div>
</article>
