<article>
  <div class="jumbotron negative-margin-bottom" style="text-align: center;">
    <h1>{{ project?.name }}</h1>
    <p>{{ project?.description }}</p>
  </div>

  <span fxLayout="row" fxLayoutAlign="center center">
    <span fxLayout="column" fxLayoutGap="2em" fxFlex="100" fxFlex.gt-md="80">
      <mat-card>
        <mat-card-content fxLayout="column">
          <!-- Medical report textarea -->
          <input type="file" name="textFile" id="textFile" (change)="onChange($event.target.files)">
          <mat-form-field fxFill>

            <textarea
              matInput
              [(ngModel)]="inputText"
              rows="15"
              placeholder="Porfavor introduzca el caso clinico"
              required
            >
            </textarea>
            <button class="btn btn-primary" (click)="submitText()">
              Submit
            </button>
            <!-- Error handling -->
            <!-- <mat-error *ngIf="f['medicalReport'].errors">
            <span *ngIf="f['medicalReport'].errors.required">
              Medical Report is <strong>required</strong>.
            </span>
            <span *ngIf="f['medicalReport'].errors.maxlength">
              Medical Report exeeds the maximum of
              <strong>{{ MAX_CHARACTERS }} characters</strong>.
            </span>
          </mat-error> -->
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <ngx-annotate-text
        [(annotations)]="annotations"
        [removable]="true"
        [text]="proccedText"
        annotationClass="my-annotation"
        #annotateText
      >
      </ngx-annotate-text>
      <div *ngIf="textSubmitted === true">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. Mia"
            #input
          />
        </mat-form-field>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                  (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  [aria-label]="checkboxLabel()"
                >
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)"
                  [aria-label]="checkboxLabel(row)"
                >
                </mat-checkbox>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="startIndex">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>start</th>
              <td mat-cell *matCellDef="let row">{{ row.startIndex }}</td>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="endIndex">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>End</th>
              <td mat-cell *matCellDef="let row">{{ row.endIndex }}</td>
            </ng-container>

            <!-- Role Column -->
            <ng-container matColumnDef="label">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Label</th>
              <td mat-cell *matCellDef="let row">
                <button mat-raised-button style="background-image: 'row.color'">
                  {{ row.label }}
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="text">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Text</th>
              <td mat-cell *matCellDef="let row">
                {{ row.text }}
              </td>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
              <td mat-cell *matCellDef="let row">
                <button mat-raised-button color="primary">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>
            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
              <td mat-cell *matCellDef="let row">
                <button mat-raised-button color="warn">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
              </td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </span>
  </span>
  <div class="row mt-5">
    <div class="col-6"></div>
  </div>
<!--
  <div class="row mt-3">
    <div class="col-12 mb-5">
      <button
        type="button"
        class="btn btn-primary mr-2"
        (click)="addAnnotation('Date', '#0069d9')"
      >
        Date
      </button>
      <button
        type="button"
        class="btn btn-secondary mr-2"
        (click)="addAnnotation('Time', '#5a6268')"
      >
        Time
      </button>
      <button
        type="button"
        class="btn btn-success mr-2"
        (click)="addAnnotation('Country', '#28a745')"
      >
        Country
      </button>
      <button
        type="button"
        class="btn btn-danger mr-2"
        (click)="addAnnotation('City', '#dc3545')"
      >
        City
      </button>
    </div>

    <div class="col-6">
      <h2 class="mb-3 display-5">Annotations</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let a of annotations">
          start: {{ a.startIndex }}, end: {{ a.endIndex }}, text: "{{
            a.text
          }}", label: {{ a.label }}
        </li>
      </ul>
    </div>
  </div> -->
</article>
