.main-container {
  /* will cover the 100% of viewport */
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  /* height of your footer */
  padding-bottom: 20em;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(4deg, rgba(0, 0, 0, 1) 0%, rgb(50, 111, 162) 91%);
  background: -webkit-linear-gradient(4deg, rgba(0, 0, 0, 1) 0%, rgb(50, 111, 162) 91%);
  background: linear-gradient(4deg, rgba(0, 0, 0, 1) 0%, rgb(50, 111, 162) 91%);
}
