**/__pycache__/
**/test_predictions_v1.bio
**/enfermedad/
**/procedimiento/
**/sintoma/
**/farmaco/
**/pharmaconer_corpus/
**/ner_api/
backend/translator/data
backend/translator/text.txt
backend/ner/enfermedad/test_predictions_v1.bio
backend/ner/farmaco/test_predictions_v1.bio
backend/ner/sintoma/test_predictions_v1.bio
backend/ner/procedimiento/test_predictions_v1.bio
backend/ner/annots.tsv
backend/ner/input_data.json
backend/ner/enfermedad/test_predictions_v1.bio
backend/ner/data
backend/DrugProt/ner-model-chemical/*
backend/DrugProt/ner-model-gene/*
NER-Models/*
tls/*
tls/cacert/SectigoCA.crt
.gitignore
NER-Models/*
backend/translator/nltk_data/data/enes_pt_model.pt
backend/translator/nltk_data/data/espt_en_model.pt
backend/translator/nltk_data/data/pten_es_model.pt
backend/translator/nltk_data/data/enes_ptSP32k.model
backend/translator/nltk_data/data/espt_enSP32k.model
backend/translator/nltk_data/data/*
backend/translator/es/model.bin
backend/translator/pt/model.bin
backend/translator/sentencepieceModels/enes_ptSP32k.model
backend/translator/sentencepieceModels/espt_enSP32k.model
backend/translator/sentencepieceModels/pten_esSP32k.model
backend/translator/en/model.bin
backend/translator/en/source_vocabulary.txt
.gitignore
backend/translator/en/source_vocabulary.txt
.gitignore
backend/translator/es/source_vocabulary.txt
backend/translator/pt/source_vocabulary.txt
.gitignore
backend/translator/es/source_vocabulary.txt
.idea