**/__pycache__/
**/test_predictions_v1.bio
**/enfermedad/
**/procedimiento/
**/sintoma/
**/farmaco/
**/pharmaconer_corpus/
**/ner_api/
backend/ner/NER_utils/__pycache__/conll_to_brat.cpython-38.pyc
backend/translator/data/*
backend/translator/text.txt
