<!---


<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
-->
<h3 class="title">TABLA SNOMED</h3>
<div>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Virus"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Type of entity
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.type }}
        </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Snomed Code
        </th>

        <td mat-cell *matCellDef="let row" [matTooltip]="getData(row.code)">
          {{ row.code }}
        </td>
      </ng-container>

      <!-- Role Column -->
      <!-- <ng-container matColumnDef="occurrency">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Occurrency
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{ row.occurrency }}
                      </td>
                    </ng-container> -->
      <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Text
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.text }}
        </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Edit
        </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Delete
        </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
