<main>
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button [routerLink]="'/'" (click)="sidenav.close()">
        Text Mining Demos
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container style="height: 84vh">
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list (click)="sidenav.toggle()">
        <a mat-list-item *ngFor="let project of projects" [routerLink]="project.routerLink">
          {{ project.name }}
          <button mat-mini-fab [color]="project.materialIcon === 'check' ? 'primary' : 'accent'" class="ml-auto">
            <i class="material-icons">
              {{ project.materialIcon }}
            </i>
          </button>
          <mat-divider></mat-divider>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <!-- Routed components go here -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>