Flask==2.2.2
Flask-Cors==3.0.10
Flask-SocketIO==5.1.2
ujson==5.1.0
virtualenv==16.7.6
numpy==1.22.0
threadpoolctl==3.1.0
absl-py==1.2.0
aiofiles==0.8.0
aiohttp==3.8.1
aiosignal==1.2.0
spacy==3.3.1
spacy-alignments==0.8.4
spacy-legacy==3.0.9
spacy-loggers==1.0.1
spacy-transformers==1.1.4
uwsgi
pandas==1.5.0