<article fxLayout="column" fxLayoutGap="1em">

  <span class="jumbotron" fxLayout="column" fxLayoutAlign="center center">
    <h3>{{ project.name }}</h3>
    <p>{{ project.description }}</p>
  </span>

  <span fxLayout="row" fxLayoutAlign="center center">
    <span fxLayout="column" fxLayoutGap="2em" fxFlex="100" fxFlex.gt-md="80">

      <!-- Input -->
      <mat-card [formGroup]="freelingForm">
        <mat-card-title>Input</mat-card-title>
        <mat-card-content fxLayout="column">
          <!-- Load sample text -->
          <span fxLayout="row" fxLayoutAlign="space-between start">
            <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
              <mat-label>Load a sample medical report</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let sample of samples; let i = index" [value]="sample.filename"
                  (click)="loadSampleText(sample.content)">
                  {{ sample.filename }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-button mat-icon-button aria-label="Clear" (click)="freelingForm.reset()"
              [disabled]="!f['medicalReport'].value" matTooltip="Clear text">
              <mat-icon>close</mat-icon>
            </button>
          </span>
          <!-- Medical report textarea -->
          <mat-form-field fxFill>
            <textarea matInput rows="15" placeholder="Or enter a medical report in Spanish"
              formControlName="medicalReport" required>
              </textarea>
            <!-- Error handling -->
            <mat-error *ngIf="f['medicalReport'].errors">
              <span *ngIf="f['medicalReport'].errors.required">
                Medical Report is <strong>required</strong>.
              </span>
              <span *ngIf="f['medicalReport'].errors.maxlength">
                Medical Report exeeds the maximum of <strong>{{ MAX_CHARACTERS }} characters</strong>.
              </span>
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-raised-button color="accent" (click)="getPosTags()" [disabled]="f['medicalReport'].errors" fxFlex.xs="100"> -->
          <button mat-raised-button color="accent" (click)="getPosTags()" disabled fxFlex.xs="100">
            ANALYZE
          </button>
          <!-- Loading animation -->
          <app-loader></app-loader>
        </mat-card-actions>
      </mat-card>

      <!-- Output -->
      <mat-card>
        <mat-card-header fxLayout="column">
          <mat-card-title>Output</mat-card-title>
          <mat-card-subtitle>You can sort, filter and paginate the results in the table below.</mat-card-subtitle>
          <!-- Responsive rotate screen tip -->
          <mat-card-subtitle class="border border-warning" fxHide.gt-xs>
            <mat-icon>rotate_90_degrees_ccw</mat-icon>
            Tip: Rotate your device to see the first two columns too!
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- Table -->
          <smc-simplemattable [data]="words" [columns]="columns" [paginator]="true" [sorting]="true"
            class="mat-elevation-z2 mb-2">
          </smc-simplemattable>
          <!-- Summary -->
          <mat-expansion-panel *ngIf="response?.success" class="mb-2">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Summary
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Total sentences: {{ response.data.sentences.length }}</p>
            <p>Total words: {{ words.length }}</p>
            <p>Average score: {{ averageScore }}</p>
          </mat-expansion-panel>
        </mat-card-content>
        <mat-card-actions *ngIf="response?.success">
          <a mat-raised-button color="primary" class="text-decoration-none" [href]="downloadLink"
            [download]="downloadFilename" fxFlex.xs="100%">
            DOWNLOAD JSON RESULTS <i class="material-icons">file_download</i>
          </a>
        </mat-card-actions>
      </mat-card>

      <!-- References -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>References</mat-card-title>
          <mat-card-subtitle>
            1. Based on the <a href="http://nlp.lsi.upc.edu/freeling/demo/demo.php">FreeLing</a> project.
          </mat-card-subtitle>
          <mat-card-subtitle>
            2. FreeLing uses the <a href="http://www.ilc.cnr.it/EAGLES96/annotate/annotate.html">EAGLES</a>
            Part of Speech (POS) Tag Set. Details can be found in the FreeLing's <a
              href="https://talp-upc.gitbooks.io/freeling-4-1-user-manual/content/tagsets.html">user manual</a>.
          </mat-card-subtitle>
          <mat-card-subtitle>
            3. Villegas, M., de la Pena, S., Intxaurrondo, A., Santamaria, J., & Krallinger, M. (2017).
            <a href="http://hdl.handle.net/10045/69120">Efforts to foster biomedical text mining efforts beyond English:
              the Spanish national strategic plan for language technologies.</a><i> PROCESAMIENTO DEL LENGUAJE
              NATURAL</i>, (59), 141-144.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-header>
          <mat-card-title>Download</mat-card-title>
          <mat-card-subtitle>
            You can download our source code from our GitHub <a [href]="project.github" target="_blank">repository</a>.
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>

    </span>
  </span>

</article>