<article>
  <div class="jumbotron negative-margin-bottom" style="text-align: center;">
    <h1>{{ project?.name }}</h1>
    <p>{{ project?.description }}</p>
  </div>

  <span fxLayout="row" fxLayoutAlign="center center">
    <span fxLayout="column" fxLayoutGap="2em" fxFlex="100" fxFlex.gt-md="80">
      <div *ngIf="ready !== true && loading === false">
        <mat-card>
          <mat-card-content fxLayout="column">
            <!-- Medical report textarea -->
            <input
              type="file"
              name="textFile"
              id="textFile"
              (change)="onChange($event.target.files)"
            />
            <mat-form-field fxFill>
              <textarea
                matInput
                [(ngModel)]="inputText"
                rows="15"
                placeholder="Por favor introduzca un caso clinico, Tamaño max 3000 caracteres"
                required
              >
              </textarea>
            </mat-form-field>
            <div style="display: flex;">
              <button
                class="btn btn-primary"
                style="width: 45%; padding: 1rem; margin: 1rem"
                (click)="submitText()"
              >
                ENVIAR
              </button>
              <button
                class="btn btn-danger"
                (click)="clearText()"
                style="width: 45%; padding: 1rem; margin: 1rem; "
              >
                LIMPIAR
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="loading === true" class="center">
        <!-- <mat-spinner></mat-spinner> -->
        <app-loading></app-loading>
      </div>

      <div *ngIf="ready === true">
        <div class="container" style=" max-width: 100%;">
          <button (click)="reset()" class="btn btn-success">
            <div style="display: flex;">
              <i class="material-icons">arrow_back </i> Atras
            </div>
          </button>

          <div class="divider"></div>
          <button
            (click)="changeNER('HPO')"
            [ngClass]="{
              'on-fenotipo': toggle['HPO'],
              'off-fenotipo': !toggle['HPO']
            }"
            class="btn"
          >
            HPO LOOK-UP
          </button>
          <div class="divider"></div>
          <button
            (click)="changeNER('PHENOTYPE')"
            [ngClass]="{
              'on-fenotipo-2': toggle['PHENOTYPE'],
              'off-fenotipo-2': !toggle['PHENOTYPE']
            }"
            class="btn"
          >
            PHENOTYPE
          </button>
          <div class="divider"></div>
          <button
            (click)="changeNER('DISEASE')"
            [ngClass]="{
              'on-fenotipo-3': toggle['DISEASE'],
              'off-fenotipo-3': !toggle['DISEASE']
            }"
            class="btn"
          >
            DISEASE
          </button>
          <div class="divider"></div>
          <button
            (click)="changeNER('SYMPTOM')"
            [ngClass]="{
              'on-fenotipo-4': toggle['SYMPTOM'],
              'off-fenotipo-4': !toggle['SYMPTOM']
            }"
            class="btn"
          >
            SYMPTOM
          </button>
          <div class="divider"></div>

          <p></p>
          <div class="row ">
            <div class="card-body">
              <app-brat-display [bratData]="docData"></app-brat-display>
            </div>
          </div>
        </div>
      </div>
    </span>
  </span>
</article>
