<article>
  <div class="jumbotron negative-margin-bottom" style="text-align: center;">
    <h1>{{ project?.name }}</h1>
    <p>{{ project?.description }}</p>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="3em" style="padding: 0 5em 0 5em">
    <mat-card [formGroup]="translatorForm" class="app-no-padding-top-card">
      <!-- Language selector -->
      <div fxLayoutAlign="space-between center">
        <nav mat-tab-nav-bar>
          <span mat-tab-link *ngFor="let lang of languages" (click)="onLanguageClick('sourceLanguageCode', lang.label)"
            [active]="f['sourceLanguageCode'].value == lang.label">
            {{ lang.name.toUpperCase() }}
          </span>
        </nav>
        <button mat-button mat-icon-button (click)="toggleSourceTargetLanguage()" matTooltip="Swap languages">
          <mat-icon>compare_arrows</mat-icon>
        </button>
        <nav mat-tab-nav-bar>
          <span mat-tab-link *ngFor="let lang of languages" (click)="onLanguageClick('targetLanguageCode', lang.label)"
            [active]="f['targetLanguageCode'].value == lang.label">
            {{ lang.name.toUpperCase() }}
          </span>
        </nav>
      </div>

      <mat-divider></mat-divider>

      <mat-card-content fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="3em" style="padding: 0.5em">
        <!-- Input -->
        <section fxFlex="50" fxLayout="column">
          <!-- Textarea -->
          <mat-form-field floatLabel="never">
            <textarea matInput rows="10" formControlName="text" placeholder="Enter your text"
              required>{{ sourceText }}</textarea>
            <mat-error>
              <span *ngIf="f['text'].errors?.required">
                Input text is <strong>required</strong>.
              </span>
              <span *ngIf="f['text'].errors?.maxlength">
                Input text exeeds the maximum of
                <strong>{{ MAX_CHARACTERS }} characters</strong>.
              </span>
            </mat-error>
          </mat-form-field>
          <!-- Sample text selector -->
          <div>
            <mat-form-field>
              <mat-label>Sample texts</mat-label>
              <mat-select formControlName="sample">
                <mat-optgroup *ngFor="let group of sampleGroups" [label]="group.language.name.toUpperCase()">
                  <mat-option *ngFor="let sample of group.samples" [value]="sample.filename" (click)="
                      loadSampleText(sample);
                      onLanguageClick('sourceLanguageCode', sample.language)
                    ">
                    {{ sample.filename }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
            <!-- Clear button -->
            <button mat-button mat-icon-button aria-label="Clear" (click)="
                translatorForm.reset({
                  sourceLanguageCode: 'es',
                  targetLanguageCode: 'en'
                })
              " [disabled]="!f['text'].value" matTooltip="Clear text">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <!-- Action button -->
          <button mat-raised-button color="accent" (click)="translate()" [disabled]="f['text'].errors">
            TRANSLATE
          </button>
          <!-- Load animation -->
          <div class="mt-2">
            <app-loader></app-loader>
          </div>
        </section>

        <!-- Output -->
        <section fxFlex="50" fxLayout="column">
          <div *ngIf="response?.success" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="1em">
            <div style="background-color: rgb(241, 241, 241)" style="padding: 0.5em">
              {{ translatedText }}
            </div>
            <div>
              <ul class="list-group my-2">
                <li class="list-group-item" style="color: #05357d; font-weight: bold;">
                  Stats
                </li>
                <li class="list-group-item">
                  Total sentences:
                  {{ response.data.translatedSentences.length }}
                </li>
                <li class="list-group-item">
                  Average prediction score (always negative): {{ averageScore }}
                </li>
                <li class="list-group-item">
                  Translation time: {{ translationTime }} seconds
                </li>
              </ul>
            </div>
            <a mat-raised-button color="primary" class="text-decoration-none mt-2" [href]="downloadLink"
              [download]="downloadFilename">
              DOWNLOAD JSON RESULTS <i class="material-icons">file_download</i>
            </a>
          </div>
        </section>
      </mat-card-content>
    </mat-card>

    <!-- References -->
    <mat-card fxFlex.gt-md="80">
      <mat-card-header>
        <mat-card-title>References</mat-card-title>
        <mat-card-subtitle>
          1. <a href="http://opennmt.net/">OpenNMT</a>: An open source neural
          machine translation system.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <mat-card-title>Download</mat-card-title>
        <mat-card-subtitle>
          You can download our source code from our GitHub
          <a [href]="project.repository">repository</a>.
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</article>
