<article>
  <div class="jumbotron negative-margin-bottom" style="text-align: center;">
    <h1>{{ project?.name }}</h1>
    <p>{{ project?.description }}</p>
  </div>

  <span fxLayout="row" fxLayoutAlign="center center">
    <span fxLayout="column" fxLayoutGap="2em" fxFlex="100" fxFlex.gt-md="80">
      <div *ngIf="ready !== true && loading === false">
        <mat-card>
          <mat-card-content fxLayout="column">
            <!-- Medical report textarea -->
            <input
              type="file"
              name="textFile"
              id="textFile"
              (change)="onChange($event.target.files)"
            />
            <mat-form-field fxFill>
              <textarea
                matInput
                [(ngModel)]="inputText2"
                rows="15"
                maxlength="3000"
                placeholder="Por favor introduzca un caso clinico, Tamaño max 3000 caracteres"
                required
              >
              </textarea>
            </mat-form-field>
            <div style="display: flex;  ">
              <button
                class="btn btn-primary"
                (click)="submitText()"
                style="width: 45%; padding: 1rem;margin: 1rem;"
              >
                ENVIAR
              </button>
              <button
                class="btn btn-danger"
                (click)="clearText()"
                style="width: 45%; padding: 1rem; margin: 1rem; "
              >
                LIMPIAR
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="loading === true" class="center">
        <!-- <mat-spinner></mat-spinner> -->
        <app-loading></app-loading>
      </div>

      <div *ngIf="ready === true">
        <div class="container" style=" max-width: 100%;">
          <button (click)="reset()" class="btn btn-success">
            <div style="display: flex;">
              <i class="material-icons">arrow_back </i> Atras
            </div>
          </button>
        </div>
        <p></p>
        <div class="row ">
          <div class="card scroll">
            <div class="card-body">
              <div [innerHTML]="inputHTML | htmlsanatizer"></div>
            </div>
          </div>
        </div>
        <div>
          <a
            mat-stroked-button
            color="primary"
            class="text-decoration-none"
            [href]="downloadLink"
            [download]="downloadFilename"
            fxFlex.xs="100%"
          >
            JSON<i class="material-icons">file_download</i>
          </a>

          <button
            mat-stroked-button
            color="primary"
            class="text-decoration-none"
            (click)="downloadTSV()"
          >
            TSV <i class="material-icons">file_download</i>
          </button>

          <button
            mat-stroked-button
            color="primary"
            class="text-decoration-none"
            (click)="downloadCSV()"
          >
            CSV <i class="material-icons">file_download</i>
          </button>
        </div>
      </div>
    </span>
  </span>

  <!--
  <div class="row mt-3">
    <div class="col-12 mb-5">
      <button
        type="button"
        class="btn btn-primary mr-2"
        (click)="addAnnotation('Date', '#0069d9')"
      >
        Date
      </button>
      <button
        type="button"
        class="btn btn-secondary mr-2"
        (click)="addAnnotation('Time', '#5a6268')"
      >
        Time
      </button>
      <button
        type="button"
        class="btn btn-success mr-2"
        (click)="addAnnotation('Country', '#28a745')"
      >
        Country
      </button>
      <button
        type="button"
        class="btn btn-danger mr-2"
        (click)="addAnnotation('City', '#dc3545')"
      >
        City
      </button>
    </div>

    <div class="col-6">
      <h2 class="mb-3 display-5">Annotations</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let a of annotations">
          start: {{ a.startIndex }}, end: {{ a.endIndex }}, text: "{{
            a.text
          }}", label: {{ a.label }}
        </li>
      </ul>
    </div>
  </div> -->
</article>
