<div style="padding: 1em" fxLayoutAlign="center" fxLayoutGap="1em" fxLayoutGap.lt-md=".5em">
  <mat-card class="coming-soon-card">
    <mat-card-header fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title style="text-align: center">Coming soon...</mat-card-title>
      <mat-card-subtitle style="text-align: center">This web demo is under construction :)</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/under-construction-frontend.png" alt="Webpage construction illustration" />
  </mat-card>
</div>
