/**
 * Defaults by performing the installation with:
 * ng add @angular/material
 *
 * https://material.angular.io/guide/getting-started#alternative-2-angular-devkit-6-
 */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* https://stackoverflow.com/questions/71074/how-to-remove-firefoxs-dotted-outline-on-buttons-as-well-as-links */
:focus {
    outline: none !important;
}

/* https://www.npmjs.com/package/simplemattable */
smc-simplemattable .mat-form-field-infix {
    width: 100%!important;
}