<footer fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="2em" class="sticky-bottom" style="color: white; text-align: center; padding: 1em;">
  <div fxFlex="33">
    <a href="https://www.plantl.gob.es/" class="h-100">
      <img src="assets/images/plantl/plantl.png" alt="Logo del PlanTL" class="h-100 bg-light rounded"
        style="max-height: 6em">
    </a>
  </div>

  <small fxFlex="33">
    Find us on
    <br />
    <span fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2em">
      <a href="https://es.linkedin.com/in/plan-tl-tecnolog%C3%ADas-lenguaje-5b49aa182" matTooltip="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/PlanTL-SANIDAD" matTooltip="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://twitter.com/TeMU_BSC" matTooltip="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
    </span>
  </small>
  <small fxFlex="33">
    Powered by the
    <a href="https://www.bsc.es/discover-bsc/organisation/scientific-structure/text-mining">
      Text Mining unit
    </a>
    at
    <a href="https://www.bsc.es/">BSC</a> &copy; 2020.
    <br />
    Code licensed under a MIT License.
  </small>
  <div fxFlex="33">
    <a href="https://www.utu.fi/fi" class="h-100">
      <img src="assets/images/Turku/turku.jpeg" alt="Logo Turku University" class="h-100 bg-light rounded"
        style="max-height: 6em">
    </a>

  </div>
</footer>
