// Import variables and functions from our custom theme.
@import 'src/app/temu-app-theme.scss';

footer {
  background-color: transparent;
}

a > i {
  font-size: xx-large;

}

a {color: #326FA2;}

.sticky-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
