<footer fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="2em" class="sticky-bottom" style="color: white; text-align: center; padding: 1em;">
  <small fxFlex="33">
        <a href="https://www.bsc.es" class="h-100">
          <img style="max-height: 5.5em"
            src="assets/images/bsc/BSC-white.svg"
            alt="Barcelona Supercomputing Center"
            class="h-100"
          />
        </a>
  </small>

  <small fxFlex="33">
    Find us on
    <br />
    <span fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2em">
      <a href="https://es.linkedin.com/in/plan-tl-tecnolog%C3%ADas-lenguaje-5b49aa182" matTooltip="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/PlanTL-GOB-ES" matTooltip="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://twitter.com/TeMU_BSC" matTooltip="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
    </span>
    <br/>
    Powered by the
    <a href="https://www.bsc.es/discover-bsc/organisation/scientific-structure/text-mining">
      Text Mining unit
    </a>
    at
    <a href="https://www.bsc.es/">BSC</a> &copy; 2022.
  </small>
  <small fxFlex="33">
<!--    Powered by the-->
<!--    <a href="https://www.bsc.es/discover-bsc/organisation/scientific-structure/text-mining">-->
<!--      Text Mining unit-->
<!--    </a>-->
<!--    at-->
<!--    <a href="https://www.bsc.es/">BSC</a> &copy; 2022.-->
<!--    <br />-->
<!--    Code licensed under a MIT License.-->
    <a href="#" class="h-100">
      <img
        src="assets/images/ministerio/gob-es.png"
        alt="Ministerio"
        class="h-100"
      />
    </a>
    <a href="#" class="h-100">
      <img
        src="assets/images/ministerio/secretaria-es.png"
        alt="Secretaria"
        class="h-100"
      />
    </a>
  </small>
</footer>
